﻿@{
    ViewBag.Title = "My Account";
}
<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-3"><a href="~/Views/Home/Subscriptions">Subscriptions</a></div>
    <div class="col-md-3"><a href="~/Views/Home/Children">Child Accounts</a></div>
    <div class="col-md-3"><a href="~/Views/Home/Billing">Billing Information</a></div>
    <div class="col-md-3">Account Settings</div>
</div>
<div class="row">
    <div class="col-lg-5">
    //Account settings will go here
    </div>
    <div class="col-lg-5">
    //And here also
    </div>
</div>