﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <!--Add a slideshow-->
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Manage existing subscriptions!</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla elementum congue tortor, eu efficitur libero pellentesque vel. Integer in tincidunt mi, in tincidunt nibh. Nullam sit amet vulputate nisi. Duis sit amet lacus magna. Pellentesque cursus fermentum magna, ut rutrum nulla pulvinar ac. Integer sed lacinia ex, vel imperdiet enim. Ut sed vestibulum neque.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">My Subscriptions</a></p>
    </div>
    <div class="col-md-4">
        <h2>Find new & exciting subscriptions to enjoy!</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla elementum congue tortor, eu efficitur libero pellentesque vel. Integer in tincidunt mi, in tincidunt nibh. Nullam sit amet vulputate nisi. Duis sit amet lacus magna. Pellentesque cursus fermentum magna, ut rutrum nulla pulvinar ac. Integer sed lacinia ex, vel imperdiet enim. Ut sed vestibulum neque.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Subscription store</a></p>
    </div>
    <div class="col-md-4">
        <h2>Share and supervise subscription access!</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla elementum congue tortor, eu efficitur libero pellentesque vel. Integer in tincidunt mi, in tincidunt nibh. Nullam sit amet vulputate nisi. Duis sit amet lacus magna. Pellentesque cursus fermentum magna, ut rutrum nulla pulvinar ac. Integer sed lacinia ex, vel imperdiet enim. Ut sed vestibulum neque.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Subscription Settings</a></p>
    </div>
</div>